<!DOCTYPE html>
<html>
<head>
    <title>Interlending Document Supply {% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="http://libweb.lancs.ac.uk/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/lancaster_alma.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datepicker.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://libweb.lancs.ac.uk/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/lancaster_alma.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>


</head>
<body>
    <div class="container">
        {% block navigation %}
            <div class="university_logo">
                <img src="http://libweb.lancs.ac.uk/primo_static_htmls_staging/LAN_Logo.png" alt="Lancaster University Logo" />
            </div>

            <div class="onesearch_logo">
                <a href="http://onesearch-test.lancaster.ac.uk"><img src="http://libweb.lancs.ac.uk/primo_static_htmls_staging/ditlogo.png" alt="Lancaster University Logo" /></a>
            </div>

            <div style="clear:both;"></div>

            <div class="navbar">
                <div class="navbar-inner">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-left">
                            <li>
                                <a href="http://onesearch-test.lancs.ac.uk/primo_library/libweb/action/search.do?menuitem=0&fromTop=true&fromPreferences=false&fromEshelf=false&vid=LUL_VU1">New Search</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="http://lancaster.libguides.com/databases">Databases</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="http://onesearch-test.lancs.ac.uk/primo_library/libweb/action/dlSearch.do?institution=44LAN&query=facet_atoz%2cexact%2cA&indx=1&bulkSize=30&dym=false&loc=local%2cscope%3a(AZ44LAN)&fn=goAlmaAz&sortField=stitle&almaAzSearch=true&azSearch=true&selectedAzAlmaLetter=A">e-Journals</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="http://library.lancs.ac.uk/auth/ids.php">IDS Request</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="http://onesearch-test.lancs.ac.uk/primo_library/libweb/action/tagsAction.do?menuitem=4&fn=showTagsPage&fromTop=true&fromPreferences=false&fromEshelf=false&vid=LUL_VU1">Tags</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="http://lancaster.libguides.com/onesearcho">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="container-narrow">
                {% block message %}
                    <h1>IDS request</h1>
                    <hr>
                    <h4>Before you continue with the form, please check:</h4>
                    <p><a href="http://onesearch.lancaster.ac.uk" alt="OneSearch">OneSearch</a> - to make sure that the book or journal article you want is not already available to you electronically or in print in the library</p>
                    <p><a href="http://www.google.com" alt="OneSearch">Google</a> - you will sometimes find the full text of an article freely available on the web</p>
		    <hr>
  		    <h4>Do you require a recently published book?</h4>
		    <p>Please contact your <a href="http://lancaster.libguides.com/subjectlibrarians" target="_blank">subject librarian</a> to ask if they will consider buying it for library stock.</p>
		    <hr>
		    <h4>How long will my request take?</h4>
                    <p>Please allow enough time for us to obtain your request. We can usually obtain journal articles within a few days. Books can take up to two weeks or longer. If your request is urgent, please add "Urgent" in the Additional Notes field below.</p>
                    <hr>

                    <p>Please fill in as much information as possible.</p>
		    <p><strong>Mandatory fields are marked with an <span class="help-inline" style="color:red;">*</span></strong></p>
		    <hr>

                    <p><strong>Undergraduates are not routinely allowed to place IDS requests. Please discuss your requirements with your <a href="http://lancaster.libguides.com/subjectlibrarians" target="_blank">subject librarian</a>.</strong></p>
                    <hr>
                {% endblock %}
                {% block form %}{% endblock %}
            </div>
        {% endblock %}
        {% block footer %}{% endblock %}
    </div>
</body>
</html>