{% extends 'base.html' %}

{% block message %}
    <h1>IDS request - Book</h1>
    <hr>
{% endblock %}

{% block form %}

    <form class="form-horizontal" action="/book" method="POST">{% csrf_token %}



        <div class="left-side-form">
            <h3>Your details</h3>
            <hr>

            {% if BookForm.libraryCardNumber.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_libraryCardNumber">
                    <span class="help-inline" style="color:red;">*</span> Library card number:
                </label>
                <div class="controls">
                    {{ BookForm.libraryCardNumber }}
                </div>
            </div>

            {% if BookForm.name.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_name">
                    <span class="help-inline" style="color:red;">*</span> Name:
                </label>
                <div class="controls">
                    {{ BookForm.name }}
                </div>
            </div>

            {% if BookForm.email.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_email">
                    <span class="help-inline" style="color:red;">*</span> Email address:
                </label>
                <div class="controls">
                    {{ BookForm.email }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_notes">Additional notes:</label>
                <div class="controls">
                    {{ BookForm.notes }}
                </div>
            </div>


        </div>

        <div class="right-side-form">
            <h3>Bibliographic Details</h3>
            <hr>

            {% if BookForm.title.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_title">
                    <span class="help-inline" style="color:red;">*</span> Title:
                </label>
                <div class="controls">
                    {{ BookForm.title }}
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="id_author">Author:</label>
                <div class="controls">
                    {{ BookForm.author }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_publisher">Publisher:</label>
                <div class="controls">
                    {{ BookForm.publisher }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_year">Year:</label>
                <div class="controls">
                    {{ BookForm.year }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_edition">Edition:</label>
                <div class="controls">
                    {{ BookForm.edition }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_isbn">ISBN:</label>
                <div class="controls">
                    {{ BookForm.isbn }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_place_of_publication">Place of publication:</label>
                <div class="controls">
                    {{ BookForm.place_of_publication }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_classmark">Classmark:</label>
                <div class="controls">
                    {{ BookForm.classmark }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_chapter">Chapter:</label>
                <div class="controls">
                    {{ BookForm.chapter }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_pages">Pages:</label>
                <div class="controls">
                    {{ BookForm.pages }}
                </div>
            </div>


        </div>

    <div style="clear: both;"></div>
    <hr>

    <div class="left-side-form">

        {% if BookForm.not_required_after.errors %}


        <div class="control-group error">
        {% else %}
            <div class="control-group">
        {% endif %}

            <label class="control-label" for="id_not_required_after">
                <span class="help-inline" style="color:red;">*</span> Not required after:
            </label>
            <div class="controls">
                <div class="input-append date">
                    {{ BookForm.not_required_after }}
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>

            </div>
        </div>

        {% if BookForm.copyright_agreement.errors %}
            <div class="control-group error">
        {% else %}
            <div class="control-group">
        {% endif %}

            <label class="control-label" for="id_copyright_agreement">
                <span class="help-inline" style="color:red;">*</span> Copyright agreement:
            </label>
            <div class="controls">
                <label class="checkbox">
                    {{ BookForm.copyright_agreement }} I have read and agree with this copyright declaration
                </label>
            </div>
        </div>
    </div>

    <div class="right-side-form">
        <div class="control-group">
            <input type="submit" class="btn btn-primary btn-large" value="Submit" />
        </div>
    </div>





    </form>

{% endblock %}