{% extends 'base.html' %}

{% block content %}
    <div class="container-narrow">
        <h2>Sorry but we are not able to place an IDS request for you at this time.</h2>
        <hr>
        <h4>This might be an issue with the system or with the request information you have provided. Please make sure that all data is correct and try again in a few minutes time.</h4>
        <h4>If the issue persists, please contact us at: library.ids@lancaster.ac.uk</h4>

        <h4>Thank you.</h4>
    </div>
{% endblock %}