{% extends 'base.html' %}

{% block content %}
    <div class="container-narrow">
        <h2>Sorry but it seems like this item or similar items already exist in OneSearch.</h2>
        <h4>Please check the list below to verify if we already have this item in the library for you.</h4>
        <br/>
        {% for item in primo_results %}
            <hr>
            <div class="primo_result_item">
                <p>Title: <a href="{{ item.display_link }}" target="_blank">{{ item.title }}</a></p>
                {% if item.author %}
                    <p>Author: {{ item.author }}</p>
                {% endif %}
                {% if item.type %}
                    <p>Type: {{ item.type }}</p>
                {% endif %}
                {% if item.creationdate %}
                    <p>Creation date: {{ item.creationdate }}</p>
                {% endif %}
                {% if item.publisher %}
                    <p>Publisher: {{ item.publisher }}</p>
                {% endif %}
            </div>
        {% endfor %}


    <br/>
    <hr>
    <h4>If none of these results satisfy your request, please click on the button below:</h4>
    <form action="/almaresourcesharingapi/process/complete" method="POST">{% csrf_token %}
        <input type="hidden" name="payload" id="id_payload" value="{{ payload }}"/>
        <input type="submit" class="btn btn-large btn-warning" value="Click here to place your request" />
    </form>
    </div>
{% endblock %}