{% extends 'base.html' %}

{% block form %}

    <form class="form-horizontal form-inline" action="" method="POST">{% csrf_token %}
        <div class="middle-form">
            <div class="control-group">
                <label class="control-label" for="id_book_or_article" id="request_type_label">
                    <span class="help-inline" style="color:red;">*</span> Request type:
                </label>
                <div class="controls">
                    {{ BookOrArticleForm.book_or_article }}
                    &nbsp;
                <input type="submit" class="btn btn-primary btn-large" value="Submit" />
                </div>
            </div>
        </div>
    </form>

{% endblock %}
