{% extends 'base.html' %}

{% block message %}
    {% if request_type == 'article' %}
        <h1>IDS request - Article</h1>
    {% else %}
        <h1>IDS request - Book</h1>
    {% endif %}
    <hr>
{% endblock %}

{% block form %}

    <form class="form-horizontal" action="" method="POST">{% csrf_token %}



        <div class="left-side-form">
            <h3>Your details</h3>
            <hr>

            {% if ResourceSharingRequestForm.library_card_number.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_library_card_number">
                    <span class="help-inline" style="color:red;">*</span> University card no.:
                </label>
                <div class="controls">
                    {{ ResourceSharingRequestForm.library_card_number }}
                </div>
            </div>

            {% if ResourceSharingRequestForm.name.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_name">
                    <span class="help-inline" style="color:red;">*</span> Name:
                </label>
                <div class="controls">
                    {{ ResourceSharingRequestForm.name }}
                </div>
            </div>

            {% if ResourceSharingRequestForm.email.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_email">
                    <span class="help-inline" style="color:red;">*</span> Email address:
                </label>
                <div class="controls">
                    {{ ResourceSharingRequestForm.email }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_notes">Request notes:</label>
                <div class="controls">
                    {{ ResourceSharingRequestForm.notes }}
                </div>
            </div>

            {% if ResourceSharingRequestForm.not_required_after.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_not_required_after">
                    <span class="help-inline" style="color:red;">*</span> Not required after:
                </label>
                <div class="controls">
                    <div class="input-append date">
                        {{ ResourceSharingRequestForm.not_required_after }}
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>

                </div>
            </div>

            {% if ResourceSharingRequestForm.format.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}
                    <label class="control-label" for="id_format">
                        <span class="help-inline" style="color:red;">*</span> Format:
                    </label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.format }}
                    </div>
                </div>

        </div>

        <div class="right-side-form">
            {% if request_type == 'article' %}
                <h3>Article details</h3>
            {% else %}
                <h3>Book Details</h3>
            {% endif %}
            <hr>

            {% if ResourceSharingRequestForm.title.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                <label class="control-label" for="id_title">
                    <span class="help-inline" style="color:red;">*</span> Title:
                </label>
                <div class="controls">
                    {{ ResourceSharingRequestForm.title }}
                </div>
            </div>

            {% if request_type == 'article' %}
                <div class="control-group">
                    <label class="control-label" for="id_journal_title">Journal title:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.journal_title }}
                    </div>
                </div>
            {% endif %}

            <div class="control-group">
                <label class="control-label" for="id_author">Author:</label>
                <div class="controls">
                    {{ ResourceSharingRequestForm.author }}
                </div>
            </div>

            {% if request_type == 'article' %}
                <div class="control-group">
                    <label class="control-label" for="id_volume">Volume:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.volume }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_issue">Issue:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.issue }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_issn">ISSN:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.issn }}
                    </div>
                </div>
            {% endif %}

            {% if request_type == 'book' %}
                <div class="control-group">
                    <label class="control-label" for="id_publisher">Publisher:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.publisher }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_place_of_publication">Place of publication:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.place_of_publication }}
                    </div>
                </div>

	      {% endif %}

                <div class="control-group">
                    <label class="control-label" for="id_year">Year:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.year }}
                    </div>
                </div>

            {% if request_type == 'book' %}
                <div class="control-group">
                    <label class="control-label" for="id_edition">Edition:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.edition }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_isbn">ISBN:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.isbn }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_classmark">Classmark:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.classmark }}
                    </div>
                </div>

                <h4>Part details (if you require a copy of a part of the book)</h4>
                <hr>
                <div class="control-group">
                    <label class="control-label" for="id_chapter">Chapter:</label>
                    <div class="controls">
                        {{ ResourceSharingRequestForm.chapter }}
                    </div>
                </div>
            {% endif %}

            <div class="control-group">
                <label class="control-label" for="id_pages">Pages:</label>
                <div class="controls">
                    {{ ResourceSharingRequestForm.pages }}
                </div>
            </div>


        </div>

    <div style="clear: both;"></div>
    <hr>

    <div class="left-side-form">


        {% if ResourceSharingRequestForm.copyright_agreement.errors %}
            <div class="control-group error">
        {% else %}
            <div class="control-group">
        {% endif %}

            <label class="control-label" for="id_copyright_agreement">
                <span class="help-inline" style="color:red;">*</span> Copyright agreement:
            </label>
            <div class="controls">
                <label class="checkbox">
                    {{ ResourceSharingRequestForm.copyright_agreement }} I have read and agree with this copyright declaration
                </label>
            </div>
        </div>
    </div>

    <div class="right-side-form">
        <div class="control-group">
            <input type="submit" class="btn btn-primary btn-large" value="Submit" />
        </div>
    </div>


    </form>

{% endblock %}