{% extends 'base.html' %}

{% block content %}
    <div class="container-narrow">
        <h1>Thank you</h1>
        <h2>Your request has been successfully placed.</h2>

        <p>For your reference, we have placed a request for you and a confirmation email has been sent to you.</p>
        <p>If your request needs to be dealt with urgently and you have not added an urgent note to your request, please reply to that email and mention the urgency of the request.</p>
        <p>Thank you.</p>
    </div>
{% endblock %}