.university_logo {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.onesearch_logo {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}



ul.LAN_navigation li {
    padding-right: 15px;
    display: inline;
}

.navbar .nav > li > a:hover {
    color: rgb(213,43,30);
}

.container {
    width: 100%;
    max-width: 100%;
}

.container-narrow {
    margin-left: 5%;
    margin-right: 5%;
}

.left-side-form {
    float: left;
}

.right-side-form {
    float: right;
}

ul {
    list-style-type: none;
}